<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=bookorder;Uid=bookorder;Pwd=2F9DAmE9HVZ4N6EH" name="bookorder" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
